/* ---------- HEADER ---------- */
body{
    margin:0;
    font-family:Segoe UI, Arial, sans-serif;
    background:#EEF3FA;
}

.top-banner{
    background:#005B9A;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 35px;
}

.logo-box img{
    width:70px;
    height:70px;
    object-fit:contain;
    background:white;
    border-radius:50%;
    padding:5px;
}

.title{
    text-align:center;
    flex:1;
}

.title h1{
    margin:0;
    font-size:30px;
}

.title h2{
    margin-top:8px;
    color:#FFD54F;
}

nav{
    background:#007BC7;
    display:flex;
    justify-content:center;
    gap:30px;
    padding:14px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:600;
}

.dashboard-title{
    background:#FFF4CC;
    padding:18px;
    text-align:center;
    font-weight:bold;
    font-size:22px;
}

.cards{
    width:95%;
    margin:25px auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}

.card{
    color:white;
    padding:20px;
    border-radius:10px;
}

.blue{background:#005B9A;}
.green{background:#009688;}
.orange{background:#F57C00;}
.pink{background:#C2185B;}
